.magic-ball-container{
    padding-top: 10%;
}


h1#magic-ball-title {
    color: #FFFCE1;
    font-family: cursive;
    font-weight: bold;
    padding-left: 10%;
    padding-bottom: 2%;
}

.magic-ball-des{
    color: #FFD8A8;
    /* or #FFFAD2 for a close match */
    font-style: italic;
    font-family: cursive;
    text-align: center;
    width: 470px;
    margin-left: 55%;
    margin-top: -48%;
}

.magic-ball-des>p{
    font-size: 19px;
}

/*Magic 8 Ball*/
#magic8ball {
    position: relative;
    width: 500px;
    height: 400px;
    margin-top: 2%;
    background-image: url('images/cartooni-ball.png');
    /* Replace with your image path */
    background-size: cover;
    /* Make the image cover the entire div */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5%;
}


#answer {
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    width: 150px;
    opacity: 0;
    transition: opacity 0.8s;
    color: #FFFCE1;
    text-align: center;
    top: 40%;
    /* Position in the center vertically */
    left: 50%;
    /* Position in the center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust position to center */
    text-shadow:
        2px 2px 0px #000,
        /* Shadow for right */
        -2px -2px 0px #000,
        /* Shadow for left */
        2px -2px 0px #000,
        /* Shadow for top-right */
        -2px 2px 0px #000,
        /* Shadow for bottom-left */
        0px 2px 0px #000,
        /* Shadow for bottom */
        0px -2px 0px #000;
    /* Shadow for top */
}

input[type="text"] {
    padding: 10px;
    margin-left: 10%;
    font-size: 1em;
    margin-top: 70px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    margin-top: 10px;
    left: 17%;
    padding: 10px 20px;
    background-color: #FFFAD2;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
}